<!--
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark red darken-4 scrolling-navbar"
            [containerInside]="false">

  &lt;!&ndash; Navbar brand
  <mdb-navbar-brand>
    <div>
      <img src="./assets/img/logo_white.png" class="rounded float-left" style="width: 40px">
      <a class="navbar-brand ml-3 mb-0 h1" routerLink="/home">GyaCapital</a>
    </div>
  </mdb-navbar-brand>
&ndash;&gt;
  &lt;!&ndash; Collapsible content &ndash;&gt;
  <links>

    &lt;!&ndash; Links &ndash;&gt;
    <ul class="navbar-nav  ">
      &lt;!&ndash;<li class="nav-item ">
        <a class="nav-link waves-light " mdbWavesEffect>Accueil</a>
      </li>&ndash;&gt;
      &lt;!&ndash; Dropdown &ndash;&gt;
      <li routerLinkActive="active current" class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect routerLink="/projects">
          <mdb-icon fab icon="accusoft"></mdb-icon>
           Projets
          &lt;!&ndash;<span class="caret"></span> &ndash;&gt;
        </a>
        &lt;!&ndash;<div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/projects" >Projet 1</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/projet2">Projet 2</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/projet3">Projet 3</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/projet4">Projet 4</a>

        </div>&ndash;&gt;
      </li>
      <li routerLinkActive="active current" class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/infos">Qui Sommes Nous!</a>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto">
      <li routerLinkActive="active current" class="nav-item ">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/contact"><i class="far fa-address-card"></i>Contact<span class="sr-only">(current)</span></a>
      </li>

      <li routerLinkActive="active current" class="nav-item ">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/position"><i class="fas fa-map-marker-alt"></i>Position</a>
      </li>
      &lt;!&ndash;<a class="nav-link waves-light" mdbWavesEffect>Médias</a> </li>&ndash;&gt;
      <li class="nav-item ">
        <a class="nav-link" href="https://www.facebook.com/pg/GYAFonciereGroupe/posts/?ref=page_internal"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
      </li>


    </ul>
    &lt;!&ndash; Links &ndash;&gt;
  </links>
  &lt;!&ndash; Collapsible content &ndash;&gt;
</mdb-navbar>
&lt;!&ndash;/.Navbar&ndash;&gt;
&lt;!&ndash;<mdb-navbar id="nav2" SideClass="navbar navbar-expand-lg navbar-dark bg-primary" [containerInside]="false">

    <ul class="navbar-nav align-content-center mx-auto">
      <span class="navbar-text white-text"></span>
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect><i class="fas fa-map-marker-alt"></i>Position</a>
      </li>
      <li class="nav-item">
        &lt;!&ndash;<a class="nav-link waves-light" mdbWavesEffect>Médias</a> </li>&ndash;&gt;
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
          </li>

    </ul>

</mdb-navbar>&ndash;&gt;
&lt;!&ndash;

&ndash;&gt;

-->
